 <section class="bg-light text-center">
 <!-- Page Content -->
 <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
<br>
       <!-- Blog Post -->
       <!-- Page Content -->
    <div class="container">

         
        <div class="row text-center text-lg-left">
  
          <div class="col-lg-5 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-6 h-110">
              <img class="img-fluid img-thumbnail" src="assets/img/farmaceutica2.jpg" alt="">
              <h6>Área Farmacêutica</h6>
            </a>
          </div>
          <div class="col-lg-5 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-6 h-110">
              <img class="img-fluid img-thumbnail" src="assets/img/cosmeticos2.jpg" alt="">
              <h6>Área Cosméticos</h6>
            </a>
          </div>
          <div class="col-lg-5 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-6 h-110">
              <img class="img-fluid img-thumbnail" src="assets/img/alimenticia2.jpg" alt="">
              <h6>Área Alimenticia</h6>
            </a>
          </div>
          <div class="col-lg-5 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-6 h-110">
              <img class="img-fluid img-thumbnail" src="assets/img/quimica2.jpg" alt="">
              <h6>Área Química Fina</h6>
            </a>
          </div>
        
        </div>
  
      </div>
      <!-- /.container -->

       </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
<br>
        <!-- Search Widget -->
        <!-- Blog Post -->
        <div class="card mb-5">
          <div class="card-header">
            <h6>Últimas Atualizações</h6>
          </div>
            <img class="card-img-top" src="assets/img/cropped-BioTec-Horizontal.png" alt="Card image cap">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">LABTEC atualizou o coordenador</li>
                    <li class="list-group-item">LABES adicionou um novo serviço</li>
                    <li class="list-group-item">LABTIC possui nova Acreditação</li>
                    <li class="list-group-item">LABTEC atualizou o coordenador</li>
                    <li class="list-group-item">LABES adicionou um novo serviço</li>
                    <li class="list-group-item">LABTIC possui nova Acreditação</li>
                    <li class="list-group-item">LABTEC atualizou o coordenador</li>
                    <li class="list-group-item">LABES adicionou um novo serviço</li>
                    <li class="list-group-item">LABTIC possui nova Acreditação</li>
                    <li class="list-group-item">LABTEC atualizou o coordenador</li>
                    <li class="list-group-item">Labes adicionou um novo serviço</li>
                    <li class="list-group-item">LABTIC possui nova Acreditação</li>
                    
                  </ul>
            </div>
           
          </div>
    

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</section>