<div class="container">
<table class="table table-bordered">
    
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">Handle</th>
        <th scope="col">Handle</th>
        <th scope="col">Handle</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        
         <div class="row text-center text-lg-left">
            
                  <div class="col-lg-3 col-md-4 col-xs-6">
                    <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src="assets/img/farmaceutica 2.jpg" alt="">
                      <h6>Caracterização e Controle de Alimentos</h6>
                    </a>
                  </div>
                  <div class="col-lg-3 col-md-4 col-xs-6">
                    <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src="assets/img/oleo 2.jpg" alt="">
                      <h6>Caracterização de Alimentos</h6>
                    </a>
                  </div>
             
                </div>
            
        <td>Lab1</td>
        <td>Lab2</td>
        <td>Lab3</td>
        <td>Lab4</td>
        <td>Lab5</td>
        <td>Lab6</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Cor</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Viscosidade</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
      </tr>
      <tr>
          <th scope="row">4</th>
          <td>Viscosidade</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Densidade</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
            <td>X</td>
          </tr>
          <tr>
              <th scope="row">6</th>
              <td>Índice de Acidez</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
              <td>X</td>
            </tr>
    </tbody>
  </table>
</div>